@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body {
      font-family: 'Montserrat';
      margin: 0;
	    position: relative;
	    width: 100vw;
	    height: 100vh;
	    overflow: hidden;
      background-color: #F7F4EA;
}